.board {
  height: 100vh;
  width: 100vw;
  border: 10px solid red;
  cursor: pointer;
  position: relative;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  gap: 4px;
  margin: 10px;
}

.controls button {
  border: 0;
  padding: 10px 15px;
  background-color: aquamarine;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.controls button:active {
  transform: scale(0.9);
}
